footer.footer.sticky
    .container
        .content.has-text-centered

            p.footer-label
                | Made with
                i.fa.fa-heart
                | &
                i.fa.fa-headphones
                | from Tangerang, Indonesia
