//
    |
    ===============================================================================
    ===============================================================================
    ===============================================================================
        Made with â¤ & â™« from Tangerang, Indonesia
    ===============================================================================
    ===============================================================================
    ===============================================================================

nav.nav.has-shadow
    .container
        .nav-left
            a.nav-item(href='/')
                h1.title nodeasy
            a.nav-item.is-tab.is-hidden-mobile(href='/') Home
            a.nav-item.is-tab.is-hidden-mobile(href='/contact') Contact
            a.nav-item.is-tab.is-hidden-mobile(href='/about') About
        span.nav-toggle
            span
            span
            span
        .nav-right.nav-menu
            a.nav-item.is-tab.is-hidden-tablet(href='/') Home
            a.nav-item.is-tab.is-hidden-tablet(href='/contact') Contact
            a.nav-item.is-tab.is-hidden-tablet(href='/about') About
