//
  |
  ===============================================================================
  ===============================================================================
  ===============================================================================
                    Made with ❤ & ♫ from Tangerang, Indonesia
  ===============================================================================
  ===============================================================================
  ===============================================================================

nav.nav.has-shadow
  .container
    .nav-left
      a.nav-item
        img(src='http://bulma.io/images/bulma-logo.png', alt='nodeasy')
      a.nav-item.is-tab.is-hidden-mobile.is-active(href='/') Home
      a.nav-item.is-tab.is-hidden-mobile(href='/contact') Contact
      a.nav-item.is-tab.is-hidden-mobile(href='/about') About
    span.nav-toggle
      span
      span
      span
    .nav-right.nav-menu
      a.nav-item.is-tab.is-hidden-tablet.is-active(href='/') Home
      a.nav-item.is-tab.is-hidden-tablet(href='/contact') Contact
      a.nav-item.is-tab.is-hidden-tablet(href='/about') About
      a.nav-item.is-tab
        figure.image.is-16x16(style='margin-right: 8px;')
          img(src='http://bulma.io/images/jgthms.png')
        | Profile
      a.nav-item.is-tab Log out
