html
    head
        title Hello World from nodeasy
        link(href="/css/bulma.css", rel="stylesheet")
        link(href="/css/font-awesome.css", rel="stylesheet")
        link(href="/css/app.css", rel="stylesheet")

    body

        include shared/header

        main.container
            section.section
                block content

        include shared/footer
